[submodule "Metoprolol-Model"]
	path = Metoprolol-Model
	url = https://github.com/SRuedesh/Metoprolol-Model
[submodule "Bupropion-DDGI-Model"]
	path = Bupropion-DDGI-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Bupropion-DDGI-Model
[submodule "Simvastatin-DDGI-Model"]
	path = Simvastatin-DDGI-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Simvastatin-DDGI-Model
[submodule "Verapamil-Norverapamil-Model"]
	path = Verapamil-Norverapamil-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Verapamil-Norverapamil-Model
[submodule "Risperidone-Model"]
	path = Risperidone-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Risperidone-Model
[submodule "Atomoxetine-Model"]
	path = Atomoxetine-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Atomoxetine-Model
[submodule "Paroxetine-Model"]
	path = Paroxetine-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Paroxetine-Model
[submodule "Dextromethorphan-Model"]
	path = Dextromethorphan-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Dextromethorphan-Model
[submodule "Quinidine-DDGI-Model"]
	path = Quinidine-DDGI-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Quinidine-DDGI-Model
[submodule "Ketoconazole-DDI-Model"]
	path = Ketoconazole-DDI-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Ketoconazole-DDI-Model
[submodule "Carbamazepine-Model"]
	path = Carbamazepine-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Carbamazepine-Model
[submodule "Felodipine-Model"]
	path = Felodipine-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Felodipine-Model
[submodule "Tacrolimus-DDGI-Model"]
	path = Tacrolimus-DDGI-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Tacrolimus-DDGI-Model
