[submodule "Metoprolol-Model"]
	path = Metoprolol-Model
	url = https://github.com/SRuedesh/Metoprolol-Model
[submodule "Bupropion-DDGI-Model"]
	path = Bupropion-DDGI-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Bupropion-DDGI-Model
[submodule "Simvastatin-DDGI-Model"]
	path = Simvastatin-DDGI-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Simvastatin-DDGI-Model
[submodule "Verapamil-Norverapamil-Model"]
	path = Verapamil-Norverapamil-Model
	url = https://github.com/Clinical-Pharmacy-Saarland-University/Verapamil-Norverapamil-Model
